<!-- https://play.tailwindcss.com/SY4JfCYdZX -->
<div class="absolute left-0 top-0 flex h-full w-full justify-center bg-gray-900 opacity-75">
  <div class="m-auto w-1/6 rounded-lg bg-white shadow">
    <div class="w-full flex flex-row justify-between">
      <h2 class="self-start mt-2 mx-3 text-black font-extrabold">Add new item</h2>
      <button class="self-end rounded-full hover:bg-gray-500 m-2" hx-get="/item/{{ .gameId }}" hx-target="#created-game-detail-content">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
        </svg>
      </button>
    </div>
    <form
      class="mx-2 mb-2"
      hx-post="/item/{{ .gameId }}/create"
      hx-target="#created-game-detail-content"
      hx-target-error="#result"
      hx-encoding="multipart/form-data"
    >
      <div class="flex flex-row space-x-2">
        <label for="picture">
          <img id="item-picture" class="rounded-lg shadow-lg cursor-pointer w-12 h-12" src="/public/assets/upload.png" />
        </label>
        <input type="file" id="picture" name="picture" class="hidden" />
        <input
          placeholder="Item name"
          type="text"
          id="name"
          name="name"
          required
          class="m-1 p-1 w-full border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent text-sm"
        />
        <input hidden class="hidden" id="gameId" name="gameId" value="{{ .gameId }}" />
      </div>
      <button class="bg-green-600 hover:bg-green-700 text-white w-full rounded-lg mt-2">Save</button>
    </form>
  </div>
</div>
<div class="fixed bottom-0 right-0 m-4 p-2 rounded w-2/12 self-start" id="result"></div>
<script>
  document.querySelector('#picture').addEventListener('change', function () {
    const file = this.files[0];
    const img = document.getElementById('item-picture');

    if (file) {
      const reader = new FileReader();
      reader.onload = function (e) {
        img.src = e.target.result;
      };
      reader.readAsDataURL(file);
    }
  });
</script>
