<div id="recipe-item-{{ .recipeItemId }}" class="flex flex-row items-center justify-between border-b-2 py-1">
  <div class="flex flex-col items-center">
    <div id="item-picture-{{ .recipeItemId }}">
      <img class="h-12 w-12 cursor-pointer rounded-lg shadow-lg" src="/public/assets/upload.png" />
    </div>
    <select
      class="border-2"
      name="recipeDetails[{{ .lastIndex }}].itemId"
      id="recipeDetails[{{ .lastIndex }}].itemId"
      required
      hx-get="/recipe/{{ .item.ID }}/image/{{ .lastIndex }}"
      hx-target="#item-picture-{{ .recipeItemId }}"
      hx-trigger="change"
      hx-target-error="#toast"
    >
      <option value=""></option>
      {{ range .dropdownItems }}
      <option value="{{ .ID }}">{{ .Name }}</option>
      {{ end }}
    </select>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
  </svg>
  <input
    class="h-1/2 w-1/3 rounded-md border-2 text-right text-sm p-1"
    type="number"
    name="recipeDetails[{{ .lastIndex }}].inputAmount"
    id="recipeDetails[{{ .lastIndex }}].inputAmount"
    placeholder="Required amount"
  />
  <button
    class="rounded-lg border-2 border-red-600 p-1 text-red-600 hover:bg-red-600 hover:text-white"
    hx-swap="delete"
    hx-target="#recipe-item-{{ .recipeItemId }}"
    hx-get="#"
  >
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"
      />
    </svg>
  </button>
</div>
<div id="recipe-items">
  <button
    class="my-1 flex w-full justify-center rounded-lg bg-blue-500 p-1 text-white shadow-lg hover:bg-blue-600"
    hx-get="/recipe/{{ .item.ID }}/add/{{ .lastIndex }}"
    hx-target="#recipe-items"
    hx-target-error="#toast"
    hx-swap="outerHTML"
  >
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" /></svg
    >Add Item
  </button>
</div>
