<div class="flex -m-10">
  <div class="w-64 h-screen bg-blue-950 shadow-md">
    <nav class="pt-4">
      <a
        href="#"
        class="block py-2.5 px-4 rounded transition duration-200 hover:bg-blue-400 text-white font-bold m-4"
        hx-get="/game/created/detail/{{ .id }}/update"
        hx-target="#created-game-detail-content"
      >
        Game Info
      </a>
      <a
        href="#"
        class="block py-2.5 px-4 rounded transition duration-200 hover:bg-blue-400 text-white font-bold m-4"
        hx-get="/item"
        hx-target="#created-game-detail-content"
      >
        Items
      </a>
      <a
        href="#"
        class="block py-2.5 px-4 rounded transition duration-200 hover:bg-blue-400 text-white font-bold m-4"
        hx-get="/planner"
        hx-target="#created-game-detail-content"
      >
        Recipe
      </a>
    </nav>
  </div>
  <div id="created-game-detail-content" class="flex-1 p-10" hx-get="/game/created/detail/{{ .id }}/update" hx-trigger="load">
    <!-- Dynamic content will be loaded here -->
    <h1 class="text-2xl font-bold">Welcome</h1>
    <p class="mt-4">Select an option from the sidebar to load content dynamically.</p>
  </div>
</div>
