<div class="h-full w-full bg-indigo-950">
  <div class="grid grid-cols-6 gap-4">
    <div class="mx-auto max-w-xs">
      <div class="card aspect-[3/4] max-h-[230px] overflow-hidden rounded-lg shadow-lg">
        <img
          class="card-image h-full w-full object-cover"
          src="https://www.minecraft.net/content/dam/games/minecraft/key-art/Vanilla-PMP_Collection-Carousel-0_The-Wild-Update_1280x768.jpg"
          alt="Game Image"
        />
        <div class="card-overlay bg-gray-900 bg-opacity-75">
          <h1 class="text-2xl font-bold text-white">Game Title</h1>
        </div>
      </div>
    </div>

    <div class="mx-auto max-w-xs">
      <div class="card aspect-[3/4] max-h-[230px] overflow-hidden rounded-lg shadow-lg">
        <img
          class="card-image h-full w-full object-cover"
          src="https://www.minecraft.net/content/dam/games/minecraft/key-art/Vanilla-PMP_Collection-Carousel-0_The-Wild-Update_1280x768.jpg"
          alt="Game Image"
        />
        <div class="card-overlay bg-gray-900 bg-opacity-75">
          <h1 class="text-2xl font-bold text-white">Game Title</h1>
        </div>
      </div>
    </div>

    <div class="mx-auto max-w-xs">
      <div class="card aspect-[3/4] max-h-[230px] overflow-hidden rounded-lg shadow-lg">
        <img
          class="card-image h-full w-full object-cover"
          src="https://www.minecraft.net/content/dam/games/minecraft/key-art/Vanilla-PMP_Collection-Carousel-0_The-Wild-Update_1280x768.jpg"
          alt="Game Image"
        />
        <div class="card-overlay bg-gray-900 bg-opacity-75">
          <h1 class="text-2xl font-bold text-white">Game Title</h1>
        </div>
      </div>
    </div>

    <div class="mx-auto max-w-xs">
      <div class="card aspect-[3/4] max-h-[230px] overflow-hidden rounded-lg shadow-lg">
        <img
          class="card-image h-full w-full object-cover"
          src="https://www.minecraft.net/content/dam/games/minecraft/key-art/Vanilla-PMP_Collection-Carousel-0_The-Wild-Update_1280x768.jpg"
          alt="Game Image"
        />
        <div class="card-overlay bg-gray-900 bg-opacity-75">
          <h1 class="text-2xl font-bold text-white">Game Title</h1>
        </div>
      </div>
    </div>
  </div>
</div>
